/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

html {
  height: 100%;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

/* =============================================================================
         My CSS
         ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* ---- navbar ---- */

.navbar-wrapper {
  background-color: rgba(26, 26, 26, 0.7);
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.nav-logo-wrapper {
  padding: 0 20px;
  /* border-right: solid 1px grey; */
}

.nav-logo-wrapper:hover {
  background-color: rgba(59, 59, 59, 0.7);
}

.nav-logo {
  display: block;
}

.nav-mh {
  color: #c6c6c6;
  font-size: 13px;
  font-family: "Rajdhani";
  font-weight: 200;
  text-align: center;
  line-height: 8px;
  position: relative;
  bottom: 8px;
}

.navbar {
  position: sticky;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  /* border-bottom: solid 1px grey; */
}

.navbar a {
  color: #d6d6d6;
  font-size: 20px;
  font-family: "Rajdhani";
  font-weight: 200;
  display: block;
}

.navbar a:hover {
  text-decoration: none;
  color: white;
}

.nav-link {
  line-height: 100.25px;
  text-align: center;
  width: 125px; /* should be changed if links are too wide so they are consistent */
  padding: 0;
  /* border-right: solid 1px grey; */
}

.nav-link:hover {
  background-color: rgba(59, 59, 59, 0.7);
}

.count-particles {
  background: #000022;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particle-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #202020;
  z-index: 0;
}

/* Main CSS  */

.centered {
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 20vh;
}

p {
  margin-top: 0.25em;
  color: #d6d6d6;
  font-size: 23px;
  font-family: "Rajdhani";
  font-weight: 400;
  text-align: center;
}

:root {
  --dark-bg: #202020;
}

body {
  background-color: var(--dark-bg);
}

#title {
  font-size: 3.5em;
  font-family: rajdhani;
  margin-top: 0;
  color: #c4c4c4;
  display: none;
}

#mh-logo {
  margin: auto;
  position: relative;
  display: block;
}

#logo-container {
  margin-top: 5em;
  background: var(--dark-bg);
  text-align: center;
  align-items: center;
}

/* Needs to be invisible at start up */
#hPath {
  display: none;
}

/* =============================== contact page css ======================================= */

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  resize: vertical;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/* about page */
.aboutPage {
  width: 100%;
  height: 91%;
  padding: 0;
  overflow-y: scroll;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  position: absolute;
}

.aboutSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  z-index: 10;
}

.aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  background-color: rgba(26, 26, 26, 0.7);
}

.aboutPage::-webkit-scrollbar {
  width: 1em;
}

.aboutPage::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.aboutPage::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
  outline: none;
  border-radius: 10px;
}
